@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


.main {
    width: auto;
    margin: 0 auto;
}


.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color:#313131;
    height: 70px;
}

.logo {
    display: flex;
    justify-content: flex-start;
}

.logo-image {
    width: 27px;
    height: 27px;
    padding: 20px;
}

.logo-name {
    align-self: center;
    font-size: 22px;
    font-style: bold;
    color: #FFFFFF;
}

.menu ul {
    display: flex;
    justify-content: center;
    list-style: none;
    width: 720px;
    margin: 25px;
}

.menu-item li{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; 
}

.menu-item a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    color: #FFFFFF;
    padding: 0 5px;
}

a:hover {
    color: #14B9D5;
}


.fa-search {
    justify-content: flex-end;
    width: 17px;
    height: 17px;
    margin-right: 2px;
    padding: 25px;
    background-color: black;
}

.bkg-image {
    background: url("/img/header/header-backgrond.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 369px;
    text-align: center;
}

.bkg-text {
    font-size: 27px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 160px;
    text-align: center;
    margin-bottom: 40px;
}

.btn {
    font-size: 18px;
    color: #FFFFFF;
    width: 170px;
    height: 55px;
    border: none;
    border-radius: 5px;
    margin: 0 10px;
}

.green {
    background-color: #89CA62;
}

.blue {
    background-color: #14B9D5;
}

h2 {
    font-size: 27px;
    font-weight: bold;
    color: #18B4CF;
    text-transform: uppercase;
    padding: 30px;
    display: flex;
    justify-content: center;
}

.section {
    background-color: #F2F2F2;
}

.boxs {
    margin: 0 20px;
    margin-bottom: 30px;
}

.flex-container {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    height: 860px;
    flex-direction: column;
}

.desc {
    font-size: 18px;
    color:#353A3D;
    background-color: #FFFFFF;
    font-weight: bold;
    padding: 20px;
    text-align: center;
}

.parallax {
    height: 590px;
    background: url("/img/most popular clients/parallax-bg.jpeg") center/cover no-repeat;
    background-attachment: fixed;
}

.parallax-text {
    font-size: 32px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 100px;
    text-align: center;
    margin-bottom: 90px;
}

.line {
    width: 60px;
    height: 3px;
    background-color: #18B4CF;
    border: none;
    margin-bottom: 100px;
}

.parallax-brands {
    display: flex; 
    justify-content: center;
    align-items: center;
}

.brands {
    text-align: center;
    padding: 0 20px;
}

.section box {
    width: auto;
    margin: 0 auto;
    background-color:rgba(0, 0, 0, 0.0001);
}

.lightbox {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

}

.lightbox img {
    width: 100%;
    height: 190px;
}

.section-post {
    height: 1580px;
    margin-bottom: 20px;
    background-color:rgba(0, 0, 0, 0.0001);
}


.post {
    width: 1170px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 40px;
    grid-template-areas:
    "image1 image1 image1 image2"
    "image3 image3 image4 image4"
    "image5 image5 image6 image6"
    "image7 image8 image8 image8"
}


h4 {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 15px;
}

.tblock {
    font-size: 18px;
    font-weight: bold;
    align-items: center;
    text-align: center;
    padding: 15px 25px;
}

.text-block {
    background-color: #F9F7F7;
    text-align: right;
    padding: 15px;
}

.post-image1 {
    grid-area: image1;
    display: flex;
    flex-direction: row; 
    width: 850px;
    height: 250px;
}

.post-image8 {
    grid-area: image8;
    display: flex;
    flex-direction: row;
    width: 850px;
    height: 250px;
}

.post-image2 {
    grid-area: image2;
    display: flex;
    flex-direction: column;
    width: 270px; 
    height: 210px;
}
.post-image3 {
    grid-area: image3;
    display: flex;
    flex-direction: column;
    width: 560px; 
}
.post-image4 {
    grid-area: image4;
    display: flex;
    flex-direction: column;
    width: 560px; 
}
.post-image5 {
    grid-area: image5;
    display: flex;
    flex-direction: column;
    width: 560px; 
}
.post-image6 {
    grid-area: image6;
    display: flex;
    flex-direction: column;
    width: 560px; 
}
.post-image7 {
    grid-area: image7;
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 210px; 
}

.footer {
    width: auto;
    margin: 0, auto;
    display: grid;
    grid-template-columns: 3fr 1fr; 
    background-color:#000000;
    padding: 20px 0;  
}

.footer-text {
    text-align: center;
    font-size: 13px;
    color: #FFFFFF;
    padding: 3px;
}

.footer-logo {
    align-items: flex-start;
    
}

.liot {
    vertical-align: top;
}
