@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

#container {
    width: 1280px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.span-color {
    color: blue;
}

.header-logo {
    display: inline-block;
    font-size: 80px;
    padding: 3px;
    margin-top: 60px;
    margin-bottom: 30px;
}

.header-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: #35444F;
    margin-bottom: 50px;
}

.header-menu-item {
    display: flex;
    font-size: 24px;   
    padding: 20px;
    border-left: 1px solid white;
}

.header-menu-item a {
    color: white;
}

.aside-menu-item a {
    color: #495863
}

.main {
    display: flex;    
}

.aside-menu {
    display: inline-block;
    width: max-content;
    height: min-content;
    margin-right: 50px;
    justify-content: center;
    color: #485863;
    border: 1px solid #000000; 
}

.aside-menu-item {
    display: inline-block;
    vertical-align: top;
    font-size: 27px;
    align-items: center;
    padding: 10px;
    margin: 15px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img {
    align-items: center;
    padding: 70px 270px 70px 290px;
    margin-bottom: 40px;
    border: 1px solid #000000;
}

p {
    vertical-align: top;
    margin-bottom: 30px;
    font-size: 18px;
    color: #2C2C2C;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;  
    background-color: #63696E;
    padding: 10px 40px;
}

.footer-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 80px;
}

.footer-menu-item {
    font-size: 28px;
    padding: 5px;
    align-items: center;
}

.footer-menu-item a {
    color: #0C1927;

}
.copyright {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 24px;
    color: #010101;
}

