body {
    font-family: 'Montserrat', sans-serif;
}
.main {
    min-width: 1200px;
    margin: 0 auto;
}
.section_header {
    background: url(../img/header/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1012px;
}
.header_content {
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding-top: 25px;
}
.header {
    height: 120px;
    background-color: rgba(94, 93, 88, 0.6);
}
.header-logo {
    display: flex;
}
.logo {
    display: flex;
    align-items: center;
}
.hexagon {
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	background-color: #18CFAB;
	width: 58px;
	height: 67px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.hexagon-span {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color:  #FFFFFF;
}
.logo-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    color: #FFFFFF;
}
.logo-span {
    color: #18CFAB;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.header-menu {
    display: flex;
    align-items: center;
}
.navbar-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-item a{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 20px;
}
.menu-item-link:hover {
    color: #18CFAB;
}
.header-main {
    max-width: 1160px;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
} 
.header-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 22px;
    margin-top: 264px;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 78px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 22px;
}
.header-text-one {
    font-family: 'Montserrat', sans-serif;
    font-size: 34px;
    text-transform: uppercase;
    color:#D4D4D4;
    margin-bottom: 134px;
}
.header-button {
    margin-bottom: 264px;
}
.btn {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 169px;
    height: 63px;
    border: none;
    margin: 0 26px;
    padding: 16px, 17px;
}
.btn.green {
    background-color: #18CFAB;
    border-top: 3px solid #FFFFFF;
    border-radius: 5px;
}
.btn.blue {
    background-color: #00CBF6;
    border-top: 3px solid #FFFFFF;
    border-radius: 5px;
}
.section_four_options {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-gap: 0;
    margin-top: 8px;
}
.options {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.options.dark {
    background-color: #1C2A33;
    justify-content: center;
}
.options.light{
    background-color: #18CFAB;
    justify-content: center;
}
.image-dark {
    margin-top: 95px;
    margin-bottom: 47px;
}
.image-light {
    margin-top: 105px;
    margin-bottom: 58px;
}
.text {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 110px;
}
.dark.text {
    color: #18CFAB;
}
.light.text {
    color: #FFFFFF;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    color:#4E4E4E;
    text-align: center;
    padding-top: 82px;
    padding-bottom: 24px;
}
.line {
    width: 80px;
    height: 2px;
    border: none;
    background-color: #18CFAB;
}
.line.second {
    margin-left: 560px;
}
.section-services {
    width: 1160px;
    margin: 0 auto;
    background-color: #FFFFFF;
}
.block-services {
    margin-bottom: 70px;
}
.tabs-par {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #777777;
    line-height: 24px;
    margin-left: 15px;
}
.tabs__nav {
    display: flex;
}
.tabs-nav-btn {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #717171;
    background-color: #F8FCFE;
    border: 1px solid #EDEFEF;
    padding: 16px 20px; 
    cursor: pointer;
    width: 100%;
    line-height: 40px;
}
.tabs-nav-btn:hover {
    border: 1.5px solid #18CFAB;
}
.tabs-nav-btn.active {
    background-color: #18CFAB;
    color: #FFFFFF;
    position: relative;
}
.tabs-nav-btn.active::after {
    content: "";
	border: 16px solid transparent;
	border-top: 13px solid #18cfab;
    position: absolute;
    top: 70px;
    left: 85px;
    display: inline-block;
}
.tabs__content {
    padding: 28px;
    background-color: #fff;
    padding-left: 0px;
}
.tabs__item {
    display: none;
}
.tabs__item.active {
    display: block;
}
.tabs_item_image {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}
.section-purchase {
    margin-top: 91px;
}
.purchase-background {
    background: url(../img/purchase/Layer2.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 476px;
    text-align: center;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: #18CFAB;
    padding-top: 126px;
    padding-bottom: 12px;
}
.purchase-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
    margin-bottom: 67px;
}
.section-work {
    width: 1160px;
    margin: 0 auto;
}
.work-background {
    background-color: #E9EDEF;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.container {
    margin-bottom: 70px;
}
.filter-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 69px;
    margin-bottom: 71px;
}
.filter-menu li {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px; 
    color: #717171;
    border: 1px solid #DADADA;
    padding: 13px 15px;
    cursor: pointer;
}
.filter-menu li.active {
    color: #18CFAB;
    border: 2px solid #18CFAB; 
}
.filter-images {
    display: flex;
    flex-wrap: wrap;
}
.work-container {
    position: relative;
}
.work-container-image {
    display: block;
}
.work-overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #E9EDEF;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
}
.icon-overlay {
    display: flex;
    justify-content: center;
    margin-top: 46px;
    
}
.work-container:hover .work-overlay {
    bottom: 0;
    height: 100%;
    border-top: 2px solid #18CFAB;
}
.text-overlay-big {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #18CFAB;
}
.text-overlay-small {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #8A8A8A;
}
.btn-load {
    width: 168px;
    height: 63px;
    background-color: #18CFAB;
    border-radius: 5px;
    border: 1px solid #18CFAB;
    margin-bottom: 100px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}
.btn-load-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btn-load-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFFFFF; 
    border-radius: 5px;
    margin-right: 15px;
}
.btn-load-image {
    margin-left: 15px;
}
.hide {
    display: none !important;
}
.main-news {
    width: 1160px;
    margin: 0 auto;
}
.section-news {
    align-items: center;
}
.news-gallery {
    display: grid;
    grid-template: repeat(2, 50%) / repeat(4, 1fr);
    grid-gap: 43px 35px;
    margin-top: 70px;
    margin-bottom: 129px;
}
.news-post a{
    display: block;
    text-decoration: none;
    cursor: pointer;
}
.news-post {
    position: relative;
    width: 263px;
}
.news-post-date {
    line-height: 25px;
    padding: 10px 16px;
    background-color: #203E38;
    position: absolute;
    top: 0;
    right: 0;
}
.news-date {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color:#FFFFFF;
    justify-content: center;
    text-align: center;
}
.news-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color:#717171;
    padding: 15px 0 12px 0;
}
.news-info {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color:#777777; 
}
.news-post a:hover .news-post-date{
    background-color: #18CFAB;
}
.news-post a:hover  .news-title {
    color: #18CFAB;
}
.about-background {
    background: url(../img/aboutham/Layer3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section-about {
    max-width: 1160px;
    margin: 0 auto;
    height: 854px;
}
.head-about {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 82px;
    padding-bottom: 24px;
}
.block-about {
    margin-bottom: 65px;
}
.quotemark {
    display: flex;
    justify-content: center;
    margin-bottom: 36px;
}
.slider-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 51px;
}
.slider-client-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color:  #BBBBBB;
    text-align: center;
    line-height: 30px;
    margin-bottom: 36px;
}
.slider-client-name {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color:  #18CFAB;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
}
.slider-client-prof {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color:  #BBBBBB;
    text-align: center;
    margin-bottom: 38px;
}
.slider-image-big {
    display: flex;
    justify-content: center;
}
.slider-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 483px;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 100px;
}
.arrow {
    color: #FFFFFF;
}
.bttn {
    width: 31px;
    height: 31px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.0001);
    border: 1px solid #BBBBBB;
}
.bttn:active {
    transform: translateY(1px);
    filter: saturate(150%);
}
.bttn:hover {
    color: #ffff;
    border-color: currentColor;
    background-color: #18CFAB;
}
.gallery-background {
    background-color: rgba(0, 0, 0, 0.0001);
}
.section-gallery {
    max-width: 1160px;
    margin: 0 auto;
    box-sizing: border-box;
}
.block-gallery {
    margin-bottom: 83px;
}
.photo-gallery {
    height: 970px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.photo-gallery-nine {
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
    width: 363px;
    height: 290px;
    margin-bottom: 3px;
    margin-right: 3px;
}
.photo-gallery-two {
    display: flex;
    width: 363px;
    height: 168px;
    margin-bottom: 3px;
}
.gallery-two {
    margin-right: 3px;
}
.gallery-item {
    margin-bottom: 10px;
}
.gallery-two-two {
    position: relative;
}
.cover-img {
    background-color: rgba(0, 0, 0, 0.64);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.cover-figure {
    display: flex;
    position: absolute;
    top: 72px;
    left: 20px;
}
.hexagon-square {
    clip-path: polygon(0 0 0 0);
    background-color: #18CFAB;
    width: 27px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.hexagon-arrow {
    clip-path: polygon(0 0 0 0);
    background-color: #18CFAB;
    width: 27px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer {
    display: flex;
    justify-content: center;
    height: 121px;
    background-color: #22353F;
    margin-top: 60px;
}
.footer-text {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 14px;
    line-height: 36px;
    color: #AEAEAE;
    padding-top: 48px;
}
.footer-span {
    font-family: 'Montserrat', sans-serif;
    color: #18CFAB;
}