@import 'reset';
@import 'variable';
@import 'mixin';
@import 'header';
@import 'content';
@import 'footer';

body {
  font-family: 'Roboto', sans-serif;
}
.container {
  max-width: calc(100% - 5rem);
  margin: 0 auto;
}

  @media (min-width: 768px) {
    .menu-btn {
      display: none;
    }
    .menu {
      width: 100%;
      @include flex;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.0001);
      position: relative;
      top: 15px;
    }
    .menu_header {
      @include flex;
      align-items: center;
  
      li {
        margin: 14px 7px 14px 7px;
  
        &:hover {
          background-color: rgba(0, 0, 0, 0.0001);
        }
      }
    }
    .posts {
      display: grid;
      grid-template-columns: repeat(auto-fit), minmax(550px, 1fr);
      margin-bottom: 60px;
    }
    .posts_gallery {
      display: flex;
      width: 555px;
  
      &.hide {
        display: flex;
      }
    }
    .posts_gallery_block {
      flex-direction: row;
      padding-left: 20px;
    }
    .posts_text {
      font-size: 16px;
    }
    .posts_title {
      font-size: 12px;
    }
    .posts_content {
      display: block;
    }
    .footer_content {
      font-size: 16px;
      width: 684px;
      line-height: 26px;
    }
    .footer_contacts {
      font-size: 16px;
    }
  }

  @media (min-width: 1200px) {
    .container {
      max-width: 1170px;
      margin: 0 auto;
    }
    .menu_header li {
      margin: 34px;
    }
    .posts {
      display: grid;
      grid-template: repeat(2, 1fr) / repeat(2, 50%);
      margin-bottom: 70px;
    }
  }