@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

body {
    background: url("../img/background.png") no-repeat center top fixed;;
    width: 100%;
}

.header {
    height: 58px;
    background: rgba(0, 0, 0, 0.4);
    margin-bottom: 54px;
    display: grid;
    grid-template-columns: 68% 12% 20%;
    align-items: center;
}

.header-text {
    margin-left: 80px;
    text-align: flex-start;
    font-size: 22px;
    font-weight: bold;
    color: #FFFFFF;
}

.header-text:hover {
    color: #01813F; 
}

.svg-color:hover {
    fill: #01813F;
}

.header-icons {
    display: flex;
}

.svg-icons {  
    margin-right: 25px;
}

.line {
    width: 1px;
    height: 19px;
    background:rgba(255, 255, 255, 0.9);
    align-items: center;
}

.text {
    text-align: end;
    margin-right: 80px;
    font-size: 14px;
    color: #FFFFFF;
}

.text-a {
    text-decoration: none;
    color: #FFFFFF; 
}

.text-a:hover {
    color: #3CB878;
}

.section {
    width: 444px;
    margin: 0 auto;
    border: 1px solid #FFFFFF;
    background-color:#FFFFFF;
    position: relative;
}

form {
    width: 324px;
    margin: 30px auto;
}

.square {
    width: 18px;
    height: 18px;
    background: #3CB878;
    position: absolute;
    left: -1px;
    top: 30px;
}


.form-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.sign {
    font-size: 20px;
    color: #434343;
}

.log-text {
    font-size: 14px;
    color: #3CB878;
    text-decoration: none;
}

.log-text:hover {
    text-decoration: underline;
    color: #01813F;
}

.social-btn {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.btn {
    width: 160px;
    height: 48px;
    font-size: 16px;
    color: #FFFFFF; 
    border: none;
    border-radius: 5px;
    text-align: center;
}

.fb {
    background-color: #305DB8;
    position: relative;
}

.fb:hover {
    background-color: #022263;
}

.btn-f {
    position: absolute;
    left: 15px;
    top: 12px;
}

.btn-lf {
    position: absolute;
    left: 48px;
    top: 10px;
}

.btn-ft {
    position: absolute;
    right: 22px;
    top: 17px;
}

.gl {
    background-color: #DF4A32;
    position: relative;
}

.gl:hover {
    background-color: #AB1F09;
}

.btn-g {
    position: absolute;
    left: 12px;
    top: 15px;
}

.btn-lg {
    position: absolute;
    left: 48px;
    top: 10px;
}

.btn-gt {
    position: absolute;
    right: 27px;
    top: 17px;
}

.text-in {
    font-size: 14px;
    color: #848484;
    margin-top: 0px;
    text-align: center;
    background-color: #FFFFFF;
    padding: 0 10px;
    position: absolute;
}

.box-in {
    margin-top: 40px;
    margin-bottom: 30px;
    position: relative;
    display: flex;
    justify-content: center; 
}

.box-in::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color:#F2F2F2;
    position: absolute;
    top: 7px;
}

.input-block {
    width: 324px;
    height: 46px;
    border: 1px solid #F2F2F2;
    background-color: #FFFFFF;
    border-radius: 4px;
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-start;
}

.form-input {
    font-size: 14;
    color: #BEBEBE;
    padding-left: 20px;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    border: none;
    outline: none;
    width: 100%;
}

.form-input:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    color: #434343;
}


input[type="checkbox"]:checked, 
input[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
 
input[type="checkbox"]:checked + label, 
input[type="checkbox"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}
 
input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    background-color: rgba(0, 0, 0, 0.0001);
}
 
input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    content: "";
    position: absolute;
}
 
input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    left: 3px;
    top: 4px;
    width: 13px;
    height: 8px;
    border-radius: 1px;
    border-left: 2px solid#3CB878;
    border-bottom: 2px solid #3CB878;
    transform: rotate(-45deg);
}
 
input[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
}
 
input[type="checkbox"]:checked + label:after {
    opacity: 1;
}

.cb-text {
    color: rgb(60, 184, 120);
}

.cb-text:hover {
    text-decoration: underline;
    color: #01813F;
}
  
.btn-ca {
    width: 324px;
    height: 46px;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 4px;
    border: none;
    background-color: rgba(60, 184, 120, 0.8);
    margin-top: 20px;
}

.btn-ca:hover {
    background-color: #01813F;
}











