@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);

* { 
	padding: 0; margin: 0; 
}

body, html {
	width: 100%;
	height: 100%;
	font-family: "Droid Sans", arial, verdana, sans-serif;
	font-weight: 700;
	color: #FFFF00;
	background-color: #000;
	overflow: hidden;
}

#titles {
	position: absolute;
	width: 18em;
	height: 40em;
	bottom: 0;
	left: 50%;
	margin-left: -9em;
	font-size: 500%;
	text-align: justify;
	overflow: hidden;
	transform-origin: 50% 100%;
	transform: perspective(350px) rotateX(25deg);
}

#titles:after {
	position: absolute;
	content: ' ';
	left: 0;
	right: 0;
	top: 0;
	bottom: 30%;
	background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	pointer-events: none;
}

#titles p {
	text-align: justify;
	margin:2em 0 1em 0;
	letter-spacing: 0.01em;
	line-height: 1.5em;	
}

#titles p.center {
	text-align: center;
	letter-spacing: 0.01em;
	line-height: 1.5em;
}

#titlecontent {
	position: absolute;
	top: 100%;
	animation: scroll 30s infinite ease-in;
}

@keyframes scroll {
	0% { top: 100%; }
	100% { top: -200%; }
}