@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
  font-family: 'Lato', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

button {
  margin: 10px;
  background-color: #ccc;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.green {background-color: rgb(161, 230, 115)}
.yellow {background-color: rgb(245, 214, 42)}
.white {background-color: rgb(250, 249, 242)}
.grey {background-color: rgb(190, 190, 187)}


.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  &_overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, .2);
    width: 100%;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
  }
  &_window {
    background-color: rgb(228, 48, 48);
    width:50%;
    height: 50vh;
    border-radius: 5px;
    z-index: 1000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &_header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 10px;
    background-color: rgb(206, 22, 22);
    color:#fff;
    font-size: 18px;
  }
  &_header_text {
    font-size: 18px;
  }

  &_body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 150px;
    padding: 20px 20px;
    font-size: 18px;
    color:rgb(250, 249, 242)
  }
  &_footer {
    display: flex;
    justify-content: center;
	  align-items: center;
    padding: 20px;
    
  }
  &_close{
    cursor: pointer;
  }
}

.card_list {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.card_item {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
  margin-right: 10px;
  border: 1px solid rgba(216, 215, 215, 0.5);
  border-radius: 5px;
  padding: 10px;
}

.card_text {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: normal;
}