@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


a {
    text-decoration: none;
    color: #FF0000;
    font-family: Montserrat, sans-serif;
    
    }

.header {
    padding: 0 15px;
    text-align: center;
}

.header-menu {
    display: inline-block;
    width: calc(100%-150px);
    vertical-align: middle;
    margin: 30px;
}

.header-menu li {
    display: inline-block;
    margin: 12px;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    
}

.hero {
    height: 789px;
    background: url(../img/image.png);
    background-position: center;
    background-size: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    color: #373737;
    margin-top: 48px;
    margin-bottom: 38px;
    letter-spacing: 3px;
}

p {
    text-align: center;
    vertical-align: top;
    margin-bottom: 28px;
    font-size: 16px;
    letter-spacing: 2px;
}

.button {
    margin: 84px;
    text-align: center;
}

.button-red {
    display: inline-block;
    background-color: red;
    border: none;
    outline: none;
    color: #fff;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 12px;
    font-style: bold;
}
 
footer {
    padding-left: 600px;
    text-align: center;
}

.footer { 
    display: inline-block;
    line-height: 20px;
    color: #373737;
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
}
