@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

#container {
    max-width: 1280px;
    width: 100%;
    /* height: auto; */
    margin: 0 auto;
}

/* darkTheme */

.dark-theme #container {
    max-width: 1280px;
    width: 100%;
    /* height: auto; */
    margin: 0 auto;
    background-color: #267c66;
}
.dark-theme .theme-button {
    background-color: #dee9f0;
    color: rgb(22, 20, 20);
    padding: 15px 30px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}
.dark-theme a {
    text-decoration: none;
}
.dark-theme .span-color {
    color: rgb(26, 175, 51);
}
.dark-theme .header-logo {
    display: inline-block;
    font-size: 80px;
    padding: 3px;
    margin-top: 60px;
    margin-bottom: 30px;
}
.dark-theme .header-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: #1b3f2a;
    margin-bottom: 50px;
}
.dark-theme .header-menu-item {
    display: flex;
    font-size: 24px;   
    padding: 20px;
    border-left: 1px solid grey;
}
.dark-theme .header-menu-item a {
    color: #ffffff;
}
.dark-theme .aside-menu-item a {
    color: #f4f6f7;
}
.dark-theme .main {
    display: flex;    
}
.dark-theme .aside-menu {
    display: inline-block;
    width: max-content;
    height: min-content;
    margin-right: 50px;
    justify-content: center;
    color: #636048;
    border: 1px solid #f3e8e8; 
}
.dark-theme .aside-menu-item {
    display: inline-block;
    vertical-align: top;
    font-size: 27px;
    align-items: center;
    padding: 10px;
    margin: 15px;
}
.dark-theme .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.dark-theme .img {
    align-items: center;
    padding: 70px 270px 70px 290px;
    margin-bottom: 40px;
    border: 1px solid #f7f3f3;
}
.dark-theme p {
    vertical-align: top;
    margin-bottom: 30px;
    font-size: 18px;
    color: #000000;
}
.dark-theme .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;  
    background-color: #1b3f2a;
    padding: 10px 40px;
}
.dark-theme .footer-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 80px;
}
.dark-theme .footer-menu-item {
    font-size: 28px;
    padding: 5px;
    align-items: center;
}
.dark-theme .footer-menu-item a {
    color: #bed7f1;

}
.dark-theme .copyright {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 24px;
    color: #f3e6e6;
}




/* LightTheme */
.light-theme #container {
    max-width: 1280px;
    width: 100%;
    /* height: auto; */
    margin: 0 auto;
}
.light-theme .theme-button {
    background-color: #35444F;
    color: white;
    padding: 15px 30px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
}
.light-theme a {
    text-decoration: none;
}
.light-theme .span-color {
    color: blue;
}
.light-theme .header-logo {
    display: inline-block;
    font-size: 80px;
    padding: 3px;
    margin-top: 60px;
    margin-bottom: 30px;
}
.light-theme .header-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: #35444F;
    margin-bottom: 50px;
}
.light-theme .header-menu-item {
    display: flex;
    font-size: 24px;   
    padding: 20px;
    border-left: 1px solid white;
}
.light-theme .header-menu-item a {
    color: white;
}
.light-theme .aside-menu-item a {
    color: #495863
}
.light-theme .main {
    display: flex;    
}
.light-theme .aside-menu {
    display: inline-block;
    width: max-content;
    height: min-content;
    margin-right: 50px;
    justify-content: center;
    color: #485863;
    border: 1px solid #000000; 
}
.light-theme .aside-menu-item {
    display: inline-block;
    vertical-align: top;
    font-size: 27px;
    align-items: center;
    padding: 10px;
    margin: 15px;
}
.light-theme .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.light-theme .img {
    align-items: center;
    padding: 70px 270px 70px 290px;
    margin-bottom: 40px;
    border: 1px solid #000000;
}
.light-theme p {
    vertical-align: top;
    margin-bottom: 30px;
    font-size: 18px;
    color: #2C2C2C;
}
.light-theme .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;  
    background-color: #63696E;
    padding: 10px 40px;
}
.light-theme .footer-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 80px;
}
.light-theme .light-theme .footer-menu-item {
    font-size: 28px;
    padding: 5px;
    align-items: center;
}
.light-theme .footer-menu-item a {
    color: #0C1927;

}
.light-theme .copyright {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 24px;
    color: #010101;
}
