@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    background: url("../img/background.png") no-repeat center top fixed;;
    width: 100%;
}

.container {
    width: 1020px;
    margin: 0 auto;
    margin-top: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
}

.header-logo:hover .text-small{
    color: #F26522;
}

.header-logo:hover .text-big{
    color: #F26522;
}

.header-logo:hover .rollover{
    background: url(../img/header/logo2.png);
}

.header-logo {
    display: flex; 
}

.rollover {
    margin-right: 8px;
}

a.rollover {
    background: url(../img/header/logo.png);
    width: 53px;
    height: 47px;
}

.header-text {
    font-weight: bold;
    text-transform: uppercase;  
}

.text-big {
    font-size: 29px;
    align-items: flex-start;
}

.text-small {
    font-size: 18px;
    align-items: flex-end;
}

.header-contact {
    text-align: right;
}

.header-contact a {
    font-size: 18px;
}

.header-contact li:first-child {
    padding-bottom: 19px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

a:hover {
    color: #F26522;
}

.section {
    display: grid;
    grid-template: repeat(2, 50%) / repeat(3, 300px);
    grid-gap: 15px 60px;
    margin-bottom: 30px;
}

.box-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text {
    font-size: 18px;
    text-align: center; 
    padding: 20px;
}

.box-hide {
    position: absolute;
    top: 165px;
    left: 0;
    width: 100%;
    height: 55px;
    background-color: #F26522;
    color: white;
    opacity: 0;
    transition: all .5s;
    display: flex;
}

.portfolio {
    display: inline-block;
    width: 300px;
    position: relative;
    overflow: hidden;
}

.portfolio:hover .box-hide {
    display: block;
    opacity: 1;
}

.box-card:hover a {
    color: #F26522;
}

.line1 {
    font-size: 10px;
    padding-left: 15px;
    padding-top: 15px;
}

.line2 {
    font-size: 20px;
    text-align: left;
    padding-left: 15px;
    padding-right: 130px;
    padding-bottom: 15px;
}

.line3 {
    font-size: 14px;
    padding-right: 10px;
    position: relative;
}

.line3::after {
    content: "";
    border: solid #fff;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    position: absolute;
    top: 5px;
    right: -5px;
}

.footer {
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.footer-text {
    font-size: 12px;
    color: #FFFFFF;
    padding: 5px 3px;
    text-align: center;
}


    
    



  

    
 